<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3</key>
	<dict>
		<key>Velocity</key>
		<array>
			<string>{1,1}</string>
			<string>{1,0}</string>
			<string>{0,1}</string>
		</array>
		<key>OriginPos</key>
		<array>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
		</array>
	</dict>
	<key>4</key>
	<dict>
		<key>Velocity</key>
		<array>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
		</array>
		<key>OriginPos</key>
		<array>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
		</array>
	</dict>
	<key>5</key>
	<dict>
		<key>Velocity</key>
		<array>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
		</array>
		<key>OriginPos</key>
		<array>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
		</array>
	</dict>
	<key>6</key>
	<dict>
		<key>Velocity</key>
		<array>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
		</array>
		<key>OriginPos</key>
		<array>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
		</array>
	</dict>
	<key>7</key>
	<dict>
		<key>Velocity</key>
		<array>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
		</array>
		<key>OriginPos</key>
		<array>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
		</array>
	</dict>
	<key>8</key>
	<dict>
		<key>Velocity</key>
		<array>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
		</array>
		<key>OriginPos</key>
		<array>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
		</array>
	</dict>
	<key>9</key>
	<dict>
		<key>Velocity</key>
		<array>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
		</array>
		<key>OriginPos</key>
		<array>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
		</array>
	</dict>
	<key>10</key>
	<dict>
		<key>Velocity</key>
		<array>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
		</array>
		<key>OriginPos</key>
		<array>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
			<string>{0,0}</string>
		</array>
	</dict>
</dict>
</plist>
